<h1>List Matching</h1>

<div class="listmatching_block">
    <label>List 1</label>

    <select id="left_list" size="4">
        {%for i in match_list_question.left_list%}
            <option>{{i}}</option>
        {%endfor %}
    </select>
</select>
    <label>List 2</label>
    <select id="right_list" size="4">
        {%for i in match_list_question.right_list%}
            <option value={{i}}>{{i}}</option>
        {%endfor%}
    </select>
    <button id="up">Move up</button>
    <button id="down">Move down</button>
</div>
<p/>
<div id="matched"></div>
